<label>
    Server Name</label>
<!-- <input
type="text"
class="form-control"
(input)="onUpdateServerName($event)">
<p>{{ServerName}}</p> -->


<input type="text" class="form-control" [(ngModel)]="ServerName">
<p>{{ServerName}}</p>



<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add New Server</button>
<app-server *ngFor="let server of Servers"></app-server>
<p *ngIf="IsServerCreated" class="text text-primary">{{serverCreationStatus}} Server name is : {{ServerName}}</p>